deep-translator
langdetect
speechrecognition
gtts
pyaudio
pygames
tkinter
pyautogui
pygetwindow
playsound
pint
forex-python
requests
textblob
opencv-python
pytube
psutil
pytubefix
wikipedia-api
wikipedia
pkgutil
importlib
forex-python
textblob
yfinance
platform
keyboard
speedtest






